html {font-size: 16px;overflow: hidden;}
#gardien {margin: 0;padding: 0;overflow: hidden;}
.home {margin: 0;display: flex;width: 100%;height: 100%;justify-content: space-around;}
.hholder {margin: 0;padding: 0;width: 50%;height: 100%;overflow-y:scroll;display: block;position: fixed;top: 0;left: 0;z-index: 5;}
.hholders {margin: 0;padding: 0;width: 50%;height: 100%;}
.editor {margin: 0;padding: 0;width: 49%;height: 100%;display: block;position: fixed;top: 0;right: 0;z-index: 5;backdrop-filter:blur(2px);background: rgba(50,50,50,0.2);color: white;overflow-x: hidden;overflow-y: scroll;}
.editor input[type=button] {cursor: pointer;}
.editors {margin: 0;padding: 0;width: 49%;height: 100%;display: block;position: fixed;top: 0;right: 0;background-image:url("pics/px.jpg");background-clip: border-box;background-size: cover;background-position: center;background-repeat: no-repeat;}
.homer {width: 100%;height: 100%;display: grid; justify-content: center;overflow-y: scroll;overflow-x: hidden;}
.adder {width: 100%;height: 100%;display: none; justify-content: center;overflow-y: scroll;overflow-x: hidden;}
.templat {width: 100%;height: 100%;display: none; justify-content: center;overflow-y: scroll;overflow-x: hidden;}
.writer {display: none;width: 100%;height: 100%;overflow-y: scroll;overflow-x: hidden;}
.txttools {width: 100%;height: auto;display: flex; justify-content: space-around;padding: 0.3125rem;}
.linker {display: none;width: 100%;height: 100%;overflow-y: scroll;overflow-x: hidden;}
.imager {display: none;width: 100%;height: 100%;overflow-y: scroll;overflow-x: hidden;}
.imagerhd {display: none;width: 100%;height: 100%;overflow-y: scroll;overflow-x: hidden;}
.buttoner {display: none;width: 100%;height: 100%;}
.fnsz {display:flex;justify-content:space-around;}
.fnsz input {width: 1.875rem;margin-left: 0.625rem;margin-right: 0.625rem;text-align: center;margin-top: 0;margin-bottom: 0;}
.setholder {position: fixed;color:white;bottom: 0;right: 0;z-index: 99;height: 0;width: 0;overflow: hidden;display: grid;justify-content: center;padding-top: 10%;background-color: rgba(25,25,25,0.45);backdrop-filter:blur(15px);transition: 0.2s;overflow-y: scroll;}
.eheader {display: flex;justify-content: space-around;padding: 0.3125rem;}
.econtent {display: grid;justify-content: center;padding: 0.3125rem;}
.horeelmnt {display: flex;justify-content: space-around;padding: 0.3125rem;}
.horeelmnts {display: flex;justify-content: space-around;padding: 0.3125rem;}
.efooter {display: flex;justify-content: space-around;padding: 0.3125rem;}
.home input {margin: 0.3125rem;padding: 0.625rem 1.25rem;border:none;width: auto;background-color: rgba(50,50,50,0.35);transition-duration: 0.2s;color: white;backdrop-filter:blur(30px);}
.home input:hover {background-color: rgb(100, 170, 50)}
.home input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
.home input[type=number] {-moz-appearance: textfield;}
.horeelmnts input {margin: 0.9375rem 1.5625rem; width: 97%;}
#colcolor {width: 100%;padding: 0.5rem 0.9375rem;background-color: rgba(50,50,50,0.55);color:white;transition: 0.2s;}
#colcolor:hover {background-color: rgb(200,170,170);border: 1px solid rgb(255,150,150);cursor: pointer;color:rgb(200,100,100);font-weight: bold;}
.clsbtn {color: Rgb(250,0,0);padding: 0.3125rem 0.9375rem;cursor: pointer;transition: 0.2s;}
.wide {width: 100%;text-align: center;cursor: pointer;}
.clsbtn:hover {color: Rgb(255,255,255);background: Rgb(250,0,0);}
textarea {backdrop-filter:blur(30px);background: rgba(50,50,50,0.3);color: white;width: 97%;height: auto;min-height: 18.75rem;overflow-y: scroll;resize: none;}
.dvbtncls {cursor: pointer;padding: 0.5rem 0.9375rem;background: rgba(50,50,50,0.3);align-items: center;place-items:center;text-align: center;vertical-align: middle;}
.dvbtncls:hover {background: rgba(255,255,255,0.3);}
#E_mailcopebttn {position: fixed;top: 1.25rem;left: 1.25rem;font-size: 1.5625rem;text-align: center;vertical-align: middle;padding: 0.3125rem 0.5rem;transition: 0.2s;z-index: 151;width: 3.125rem;height: 3.125rem;background: transparent;color: black}
#E_mailcopebttn:hover {color: red;background-color: rgba(50,50,50,0.3)}
#E_shower {position: fixed;top: 0;left: 0;height: 100%;width: 100%;background: rgba(50,50,50,0.4);backdrop-filter:blur(15px);z-index: 150;}
#E_temp {position: fixed;top: 0;left: 0;height: 100%;width: 100%;background: rgba(50,50,50,0.4);backdrop-filter:blur(15px);z-index: 150;}
#E_copie {opacity: 0.5;background: transparent;border: none;color: rgba(50,50,50,0.2);}
.shareclass {position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);min-height: 20%;max-height:60%;width: 40%;padding: 0.6875rem 0.625rem;background: rgba(50,50,50,0.2);backdrop-filter:blur(15px);border-radius: 0.9375rem;display: grid;align-items: center;}
.copybtn {background: rgba(50,50,50,0.2);backdrop-filter:blur(5px);color: white;font-weight: bold;font-size: 1.25rem;transition: 0.2s;margin: 0.3125rem;padding: 0.3125rem;}
#tmpname {background: rgba(240,240,240,0.5);backdrop-filter:blur(5px);color: black;font-size: 1.25rem;margin: 0.3125rem;padding: 0.3125rem;text-align: center;}
.copybtn:hover {background: rgba(50,50,50,0.6);backdrop-filter:blur(15px);}
#ipara_a {position: absolute;top: 0;left: 0;display:block;width: 100%;z-index: 150;}
.authore {position: fixed;bottom: 0px;left: 0px;color: rgba(255,255,255,0.8);padding-left: 20px;font-size: 14px;}
.shareclass .copybtn {cursor: pointer;}
.tmphouser {width: 100%;overflow-x: hidden;height: auto;min-height: 400px;background: rgba(50,50,180,0.1);backdrop-filter:blur(5px);}
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: transparent;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}
::-webkit-scrollbar-thumb {border-radius: 2px;}
.temp_holder {display: grid;align-items: center;}
.temp_m_btn {background: rgba(50,50,50,0.7);backdrop-filter:blur(5px);color: white;font-size: 1.25rem;padding: 0.3125rem;text-align: center;width: 100%;cursor: pointer;transition: 0.2s;}
.temp_m_btn:hover {background: rgba(80,80,80,0.5);}
.temp_btn {background: rgba(180,180,180,0.7);backdrop-filter:blur(5px);color: white;font-size: 1.25rem;padding: 0.3125rem;text-align: center;width: 100%;cursor: pointer;transition: 0.1s;}
.temp_btn:hover {background: rgba(100,100,100,0.7);}
.shareclass input[type="button"] {position: fixed;top: 15px;left: 15px;width: 30px;height: 30px;border-radius: 50%;border: none;background: transparent;color: black;transition: 0.2s;font-size: 25px;font-weight: bolder;cursor: pointer;}
.shareclass input[type="button"]:hover {color: red;}
